TZ=UTC+3
ROOT_PASS=to-change

POSTGRES_MASTER_USER=postgres
POSTGRES_MASTER_PASS=to-change

AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER=authentik
AUTHENTIK_POSTGRES_PASS=to-change

AUTHENTIK_SECRET_KEY=to-change

FB_OIDC_CLIENT_ID=to-change
FB_OIDC_CLIENT_SECRET=to-change
FB_OIDC_ISSUER_URL=http://
